[Desktop Entry]
Name=Postman
Exec=/opt/dev-java/postman/Postman
Icon=/opt/dev-java/postman/app/resources/app/assets/icon.png
Type=Application
Terminal=false
StartupNotify=true
Encoding=UTF-8
Categories=Development;GTK;GNOME;
